<h2 mat-dialog-title>Actualizar Estado de Escuela</h2>

<mat-dialog-content>
  <p class="dialog-description">
    Seleccione el tipo de autorización para actualizar el estado de la escuela:
  </p>

  <mat-radio-group [(ngModel)]="tipoAutorizacion" class="radio-group">
    <mat-radio-button value="1" class="radio-option">
      <div class="option-content">
        <mat-icon class="option-icon success">check_circle</mat-icon>
        <div>
          <strong>Con Autorización</strong>
          <p class="option-description">La escuela cuenta con autorización oficial</p>
        </div>
      </div>
    </mat-radio-button>

    <mat-radio-button value="0" class="radio-option">
      <div class="option-content">
        <mat-icon class="option-icon warning">cancel</mat-icon>
        <div>
          <strong>Sin Autorización</strong>
          <p class="option-description">La escuela no cuenta con autorización oficial</p>
        </div>
      </div>
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirmar()" [disabled]="!tipoAutorizacion">
    <mat-icon>save</mat-icon>
    Actualizar
  </button>
</mat-dialog-actions>
